


form{display: flex;
    justify-content: flex-start;
    align-items: center;
}

#clear-results{
    width: 10em;
}

.recent-search{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.wrap-buttons{
    border: 1px solid lightcoral;
    margin-left: .5em;
    margin-bottom:1em;
    border-radius: .5em;
}

.btn-delete{
    border-left: 1px solid black;
    border-radius: 0;

}


.giphy-content{
    column-count: 3;
    column-gap: 1.5em;
}

.giphy{
    border: 1px solid orange;
    border-radius: .5em;
    border-bottom: .5em solid cornflowerblue;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-bottom: .5em;
    page-break-inside: avoid;
    background-color: coral;
    box-shadow: 10px 19px 11px rbga(0,0,0.5);

}

.giphy img{
    height: 100%;
    width: 100%;

}

.fa-play {
    font-size: 1em;
    background-color: yellow;
    border-radius: 50%;
    padding:1em;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,0);
    color:white;
    opacity: 0;
    cursor: pointer;
}

.favorite{
    position: absolute;
    right:0;
    cursor: pointer;
    border-bottom-left-radius: 1em;
    background-color: darkolivegreen;
    padding:.5em;
    
}

.giphy-image:hover .img-play{
    opacity: 1;

}

.giphy-info{
    display:flex;
    justify-content: space-between;
    margin: 2em .5em;
}

.giphy-footer{
    text-align: center;
    border: 1px solid pink;
    position: absolute;
    bottom:0;
    width: 100%;
    cursor: pointer;
    background-color: orchid


}


.active{
    background-color: yellow;
}