form{display: flex;
    justify-content: flex-start;
    align-items: center;
}

#clear-results{
    width: 10em;
}

.recent-search{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.wrap-buttons{
    border: 1px solid lightcoral;
    margin-left: .5em;
    margin-bottom:1em;
    border-radius: .5em;
}

.btn-delete{
    border-left: 1px solid black;
    border-radius: 0;

}


.giphy-content{
    column-count: 3;
    column-gap: 1.5em;
}

.giphy{
    border: 1px solid orange;
    page-break-inside: avoid;
    position: relative;

}

.giphy img{
    height: 100%;
    width: 100%;

}

.fa-play {
    font-size: 1em;
    background-color: yellow;
    border-radius: 50%;
    padding:1em;
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,0);
}